.wrapper {
    position: fixed;
    top: 20px; // distance from the top of the screen
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    padding: 10px 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 25;
    width: 300px;
}